/*
 -------------- Logo SECTION --------------
 */

.logo-section {
    background: url("../img/WebBanner.jpg") no-repeat center #D65B12;
    background-size: cover;
    height: 100vh;
    color: #ffffff;
}

.logo-section h1 {
    font-size: 10vh;
}

.logo-section h2 {
    font-size: 5vh;
}

.logo-section .logo-section-top-margin {
    height: 50vh;
}

/*
 -------------- Teaser SECTION --------------
 */

.teaser-section {
    background-color: #ffffff;
    padding-bottom: 8em;
    color: #364759;
}

.teaser-section:before {
    top: -4em;
    height: 4em;
    background-image: url("../img/figures/white_bottom_right_triangle.svg");
}

.teaser-section h2 {
    text-align: right;
}

.teaser-section h2.left-align {
    text-align: left;
}

.teaser-section hr {
    border-top: 1px solid #364759;
}

/*
 -------------- FAQ SECTION --------------
 */

#faq-section {
  background-color: #d65b12;
  color: #ffffff;
  text-align: left;
  padding-bottom: 90px;
}

#faq-section:before {
  top: -4em;
  height: 4em;
  background-image: url("../img/figures/orange_bottom_left_triangle.svg");
}

#faq-section hr {
	background-color: #ffffff;
	margin-bottom: 50px;
}

#faq-section h2 {
  text-align: center;
}

#faq-section h3 {
  font-size: 2em;
  text-align: left;
  /*text-decoration: underline;*/
  line-height: 50px;
}

#faq-section h4 {
  cursor: pointer;
}

#faq-section a {
  color: #ffffff;
  text-decoration: underline;
}

@media (max-width: 767px) {
  #faq-section h4 {
    cursor: pointer;
  }

  #logo-section #logo-section-top-margin {
    height: 30vh;
  }
}

#faq-section .arrow-animate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#faq-section .arrow-animate.down {
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}