section.criteria-section#criteria-section(class="triangle"): .container: .row: .col-sm-12
    h2 Best Hack Criteria
    hr
    div.row
        div.col-sm-6
            h4 Technology
            p.
                How technically impressive was the hack? Was the technical problem the team tackled difficult?
                Did it use a particularly clever technique or did it use many different components?
                Did the technology involved make you go "Wow"?
        div.col-sm-6
            h4 Design
            p.
                Was thought put into the user experience? How well designed is the interface?
                For a website, this might be how beautiful the CSS or graphics are. For a hardware
                project, it might be more about HCI (is it easy to use or does it use a cool interface?).
    div.row
        div.col-sm-6
            h4 Completion
            p.
                Does the hack work? Did the team achieve everything they wanted?
        div.col-sm-6
            h4 Learning
            p.
                Did the team strech themselves? Did they try to learn something new? What kind of
                projects have they worked on before? If a team which always does virtual reality
                projects switch up and try doing a mobile app instead, that exploration should
                be rewarded.
    h2 Facepalm Criteria
    hr
    div.row
        div.col-sm-6
            h4 Originality
            p.
                The hack or the idea behind it should be unique and interesting. This can range
                from new and crazy spins on known ideas to completely outlandish ideas.
        div.col-sm-6
            h4 Funny
            p.
                The hack is obviously a testament to what the human mind can do to make something
                funny, be it a genius pun or something that just makes you laugh.
    div.row
        div.col-sm-6
            
        div.col-sm-6
            h4 Unusefulness
            p.
                The hack doesn't have to be useful or meaningful in any sense.
        