- 
    var judges = [
        {
        id: "rune",
        name: "Rune Heick",
        description: "Rune is a Hardware & Software engineer from Aarhus University. As part of the OrbitLab team, Rune assists with development and best-practice within hardware and software solutions, for use in research and education. A particular focus of his has been on IoT platforms and battery-powered devices. In addition to having been involved in a number of startups, he has as a consultant helped many companies and startups with prototype development and bringing products to production."
        },
        {
        id: "minna",
        name: "Minna Pakanen",
        description: "Minna is an Assistant Professor in the School of Communication and Culture Department of Digital Design and Information Studies at Aarhus University. Her research focuses on the design of wearables and next-to-body technology for self- and shared-management of individuals' health and wellbeing as well as on the understanding of user's needs for and experiences with the designed technology. She also works on interaction design and understanding user experiences with augmented and virtual reality technology. <br><br>She agreed to judge AUHack 2023 because she is interested to see what kind of creative and cool outcomes the teams are able to produce with such limited design and implementation time!"
        },
        {
        id: "eve",
        name: "Eve Hoggan",
        description: "Eve has been an Associate Professor at the Department of Computer Science, Aarhus University since 2016. As a Human-Computer Interaction researcher, her focus is on creating novel interaction techniques and multimodal feedback. Some of her most recent research has focused on haptic feedback, feedback techniques in VR, and multimodal collaborative systems. <br><br> \"I'm looking forward to judging all the different projects at AUHack. I thoroughly enjoy seeing the creative, challenging, and exciting work that can be done in just 36 hours!\" -Eve"
        }
    ]

mixin set_cards()
    .row
        .col-sm-6
            each item, index in judges
                if (index % 2 == 0)
                    +set_cards_helper(item)
        .col-sm-6
            each item, index in judges
                if (index % 2 == 1)
                    +set_cards_helper(item)


mixin set_cards_helper(item)
    .card(id=item.id)
        img.card-img-top(src=("img/judges/" + item.id + ".jpg") alt=item.name)
        .card-body
            h4= item.name
            p!= item.description

section.judges-section#judges-section(class="triangle"): .container: .row: .col-sm-12
    h2 Judges
    hr
    +set_cards()