- 
    var judges = [
        //- {
        //- id: "clemens",
        //- name: "Clemens Nylandsted Klokmose",
        //- description: "Clemens has been an associate professor at Aarhus University since 2016. His specialties are Graphical User Interfaces and Human-Computer Interaction."
        //- },
        {
        id: "magnus",
        name: "Magnus Høholt Kaspersen",
        description: "Magnus holds a PhD from the Computer Science department at Aarhus University and was one of the previous organizers when AUHack was getting started. He is currently working as CTO in a startup."
        },
        {
        id: "michael",
        name: "Michael Wessely",
        description: "Michael is also an associate professor at Aarhus University. He specialises in Human-Computer Interaction with a focus on physical interfaces made out of different materials and the fabrication of these interfaces."
        }
    ]

mixin set_cards()
    .row
        .col-sm-6
            each item, index in judges
                if (index % 2 == 0)
                    +set_cards_helper(item)
        .col-sm-6
            each item, index in judges
                if (index % 2 == 1)
                    +set_cards_helper(item)


mixin set_cards_helper(item)
    .card(id=item.id)
        img.card-img-top(src=("img/judges/" + item.id + ".jpg") alt=item.name)
        .card-body
            h4= item.name
            p!= item.description

section.judges-section#judges-section(class="triangle"): .container: .row: .col-sm-12
    h2 Judges
    hr
    if SHOW_JUDGES
        +set_cards()
    else
        p Will be made available during the weekend.