section.teaser-section#teaser-section(class="triangle"): .container: .row: .col-sm-12
  h2 Expo
  p.
    After hacking ends all teams will expo their projects. Here judges and fellow
    students will have time to test each other's projects. The expo will be at
    your tables where you have worked throughout the weekend. #[br]
    Each team will be visited once by our three knowledgeable judges within a time 
    interval of 3 hours. As soon as all groups and their cases have been registered,
    a plan for when you will be visited by the judges will be made public. Thus you
    will have some time to eat lunch and watch other hacks when the judges are not
    at your table. But be sure to be at your table a little before it says on the plan!
