section.teaser-section#teaser-section(class="triangle"): .container: .row: .col-sm-12
    h2 AUHack #{YEAR}
    hr
    //p AUHack is a part of the Major League Hacking network (mlh.io), and was the first MLH event in Denmark.
    p.
        AUHack focuses on a broad variety of technical computer science and digital prototyping issues, but
        could also include specialized tracks and challenges proposed by major sponsors/partners. This is an
        opportunity for your company to get involved.
    p Check out the FAQ below, go through the #[a(href='docs/sponsor_catalog.pdf') sponsor catalog], or #[a(href=`mailto:sponsor@auhack.org?subject=Sponsor AUHack ${YEAR}`) shoot us an email]!
    p Best, #[br]AUHack #{YEAR} team