section.events-section#events-section(class="triangle"): .container 
  .row: .col-sm-12
    h2 Events
    hr
  
  .row: .col-sm-12: #bowtag
    h5 Bowtag (Sponsored by Grundfos)
    p  We have no clue what this is. Come try it out for yourself!
  
  .row: .col-sm-12: #escape-rooms
    h5 Escape Room (Sponsored by Jysk)
    p.
      An Escape Room has been made for you all to try out! - more specifically, a
      puzzle room. It will be open for most of Saturday, so get your group ready
      and try to be the ones to beat it the quickest!
       
  .row: .col-sm-12: #coffee-cart
    h5 Coffee Cart (Sponsored by the LEGO Group)
    p.
      This isn't an activity like the other events, but it is an event nonetheless!
      Come get some coffee from the Coffee Cart from 14:00 until 18:00 - you'll need
      the energy to be able to keep on hacking!
        
  .row: .col-sm-12: #bambuild
    h5 Bambuild (Sponsored by Bankdata)
    p.
      Last but not least, we have Bambuild! We've bought a lot of bamboo sticks,
      and now it's your job to make the tallest bamboo stick with only bamboo
      sticks and rubber bands - nothing else. Good luck!
        
  
