section.teaser-section#teaser-section(class="triangle"): .container: .row: .col-sm-12
  h2 AUHack #{YEAR}
  hr
  p.
      For this year's AUHack, we will be having a total of four events:
      Bow tag sponsored by Grundfos, an Escape Room sponsored by Jysk, a Coffee Cart
      sponsored by the LEGO Group, and the so-called "Bambuild", sponsored by Bankdata.
