section.teaser-section#teaser-section(class="triangle"): .container: .row: .col-sm-12
  h2 AUHack #{YEAR}
  hr
  p.
      For this year's AUHack, we will be having a ton of events! Here you are able to
      see what each of them are about, and whether you have to sign up to be able to
      participate in them. We hope there are some events here that catch your eye!
  h4 How to sign up for events
  p.
      For every event that you have to sign up for, you have to go to the info stand
      and let an organizer know. If it's an event where you have to be a group, then
      tell the organizer your group number. If it's an event that is not for entire
      groups, then tell the organizer your name. If it is neither, then it says what
      you should do on the event itself below.