section.teaser-section#teaser-section(class="triangle"): .container: .row: .col-sm-12
  h2 AUHack #{YEAR}
  hr
  p.
      For this year's AUHack, we will be having a ton of events! Here you are able to
      see what each of them are about, and whether you have to sign up to be able to
      participate in them. You sign up to events by going to the info stand and telling
      the organizer there your group number. We hope there are some events here that
      catch your eye!