section.teaser-section#teaser-section(class="triangle"): .container: .row: .col-sm-12
  h2 Workshops at AUHack
  p.
    We will host #[strong 2] workshops Saturday. Participating in a workshop will give you
    some great skills on various topics, such that you afterwards can build
    cool stuff, instead of spending hours setting up environments.
  h4 Do I need to sign up?
  p.
    Yes, during team registration! A team is allowed to split up and cover
    several workshops.
  h4 Do I need to do anything before the workshops?
  p.
    If you already know which workshop you definitely will participate in,
    then consider downloading the material needed before the workshop starts.
    In a perfect dreamworld, everybody will do that and you can then spend
    more time on the interesting material.
  h4 Can I participate in multiple workshops?
  p.
    You're allowed to participate in multiple workshops, as long as they are
    not at the exact same time. Furthermore, all team members are by no means
    required to attend the same workshops. Perhaps you can divide and conquer?