section.teaser-section#teaser-section(class="triangle"): .container: .row: .col-sm-12
  h2 AUHack #{YEAR}
  hr
  p.
      For this year's AUHack, there will in total be three workshops where you can
      learn something new. First, there will be the Audio workshop, which will be 
      start at 10:00 Saturday and end at 12:00. Later, at 14:30-15:30, there will be a
      workshop about Cryptography. And lastly, Sunday morning, Grundfos will be holding
      a workshop about how to make the perfect pitch. This will be from 08:45-9:30.
