section.workshops-section#workshops-section(class="triangle"): .container 
  .row: .col-sm-12
    h2 Workshops
    hr
  
  .row: .col-sm-12: #audio
    h5 Audio workshop (Open source wireless audio streaming - Wifi & Bluetooth on the ESP32 & Merus Audio amps)
    p.
      This workshop will be held Saturday from 10:00 - 12:00. If you wish to have
      any kind of sound in your hack this year, you will definitely want to come to
      this workshop! More specifically, you will be able to learn about the ESP32
      and how it, with its Wifi and Bluetooth capabilities, can be used for wireless
      audio streaming. 
  .row: .col-sm-12: #crypto
    h5 Crypto workshop
    p.
      This workshop will be held Saturday from 14:30 - 15:30. If you like cryptography
      and would like to make a hack that uses some sort of communication that you
      want to be secure, come check out this workshop! 
  .row: .col-sm-12: #pitching
    h5 Pitching workshop
    p.
      This workshop will be held early Sunday from 08:45 - 09:30. If you want to
      have a higher chance of impressing the judges during the evaluation (which
      starts at 10:00), make sure to come to this workshop! Grundfos will be telling
      you how you do the perfect pitch - which is a very useful skill in the IT world!
      
        
  
