extends /layout.pug

append config
    - const PAGE_TITLE = "Cases"

block custom_css
    link(href='css/cases.css' rel='stylesheet')
    link(href='css/cards.css' rel='stylesheet')

block content
    include /cases/navbar.pug
    include /cases/header.pug
    include /cases/teaser.pug
    include /cases/cases.pug
