extends /layout.pug

append config
    - const PAGE_TITLE = "Events"

block custom_css
    link(href='css/events.css' rel='stylesheet')
    link(href='css/cards.css' rel='stylesheet')

block content
    include /events/navbar.pug
    include /events/header.pug
    include /events/teaser.pug
    include /events/events.pug
