extends /layout.pug

append config
    - const PAGE_TITLE = "Events"

block custom_css
    link(href='css/sponsor.css' rel='stylesheet')

block content
    include /events/navbar.pug
    include /events/header.pug
    include /events/info.pug
