extends /layout.pug

append config
    - const PAGE_TITLE = "Expo"

block custom_css
    link(href='css/expo.css' rel='stylesheet')
    link(href='css/cards.css' rel='stylesheet')

block content
    include /expo/navbar.pug
    include /expo/header.pug
    include /expo/teaser.pug
    include /expo/criteria.pug
    include /expo/judges.pug
