extends ../includes/layout.pug

block custom_css
    link(href='../web/static/css/index.css' rel='stylesheet')

block content
    include ../includes/index/navbar.pug
    include ../includes/index/header.pug
    include ../includes/index/signup.pug
    include ../includes/index/teaser.pug
    include ../includes/index/schedule.pug
    include ../includes/index/sponsors.pug
    include ../includes/index/faq.pug
