extends /layout.pug

block custom_css
    link(href='css/index.css' rel='stylesheet')

block content
    include /index/navbar.pug
    include /index/header.pug
    include /index/signup.pug
    include /index/teaser.pug
    include /index/schedule.pug
    include /index/sponsors.pug
    include /index/faq.pug
    if SHOW_ONEMM_SUBMISSION
      include /index/onemm.pug
