extends ../includes/layout.pug

append config
    - const PAGE_TITLE = "Sponsor"

block custom_css
    link(href='../web/static/css/sponsor.css' rel='stylesheet')

block content
    include ../includes/sponsor/navbar.pug
    include ../includes/sponsor/header.pug
    include ../includes/sponsor/teaser.pug
    include ../includes/sponsor/faq.pug
