// NAVBAR
nav#nav-wrap.navbar.navbar-toggleable-md.navbar-light.bg-faded.fixed-top(role='navigation')
  button.navbutton.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .container
    a.navbar-brand(href='index.html')
      img.hidden-md-down(src='img/AUHack_logo.png' alt='AUHack logo')
      span.hidden-lg-up.navtext AUHack #{YEAR}
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.smoothscroll.nav-link(href='#schedule-section') Schedule
        li.nav-item
          a.smoothscroll.nav-link(href='#sponsors-section') Sponsors
        li.nav-item
          a.smoothscroll.nav-link(href='#faq-section') FAQ
        if SIGN_UP_STATE === SIGN_UP_OPEN
          li.nav-item: a.smoothscroll.nav-link(href=SIGN_UP_LINK) Sign Up
      ul(class="navbar-nav navbar-right")
        if SHOW_CASES
          li.nav-item: a.smoothscroll.nav-link(href="cases.html") Cases
        if SHOW_EVENTS
          li.nav-item: a.smoothscroll.nav-link(href="events.html") Events
        if SHOW_WORKSHOPS
          li.nav-item: a.smoothscroll.nav-link(href="workshops.html") Workshops
