section.onemm-section#onemm-section(class="triangle"): .container: .row: .col-sm-12
  h2 1-minute madness submission
  hr
  p.
    Don't forget to participate in 1-minute madness! There have never been a
    better chance to show all of the other participants what crazy hacks you've
    come up with over the weekend! Submit your slide/picture that you'd like to
    use for 1-minute madness #[a(href="https://forms.gle/3ifoJ3L7Zms7Yki17") here] 
    before 12:30 Sunday midday. If you have any questions, come ask at the Infodesk.
