section.onemm-section#onemm-section(class="triangle"): .container: .row: .col-sm-12
  h2 One Minute Madness submission
  hr
  p.
    Don't forget to participate in One Minute Madness! There have never been a
    better chance to show all of the other participants what crazy hacks you've
    come up with over the weekend! Submit your slide/picture that you'd like to
    use for One Minute Madness #[a(href=ONEMM_FORM_LINK target="_blank") using this link] 
    before #{ONEMM_DEADLINE}. If you have any questions, come ask at the Infodesk.
