section.triangle#schedule-section: .container
    .row: .col-sm-12
        h2 Schedule
        //p.
            We're still working on making a schedule that's packed with hacking, learning and
            fun events for the best weekend of the year!
        p.
            Notice that the schedule might change a bit.
    .row: .col-sm-12
        h3 Friday
        table(class="table")
            thead 
                tr 
                    th(style="width: 20%") Time
                    th(style="width: 40%") Event
                    th(style="width: 40%") Location
            tbody 
                tr 
                    td 15:30 - 16:30
                    td Arrival & registration
                    td Entrance to Peter Bøgh Auditorium
                tr 
                    td 16:45 - 18:45
                    td Opening ceremony
                    td Peter Bøgh Auditorium
                tr 
                    td 18:45 - 20:00
                    td Dinner
                    td Café area
                tr 
                    td 20:00
                    td Hacking begins!
                    td Everywhere
                tr 
                    td 20:00 - ?
                    td TBA
                    td TBA
    .row: .col-sm-12
        h3 Saturday
        table(class="table")
            thead 
                tr 
                    th(style="width: 20%") Time
                    th(style="width: 40%") Event
                    th(style="width: 40%") Location
            tbody 
                tr 
                    td 08:00 - 10:00
                    td Breakfast
                    td Café area
                tr 
                    td 10:00 - 12:30
                    td TBA
                    td TBA
                tr 
                    td 12:30 - 14:00
                    td Lunch
                    td Café area
                tr 
                    td 16:00 - 18:00
                    td TBA
                    td TBA
                tr 
                    td 18:30 - 20:00
                    td Dinner
                    td Café area
                tr 
                    td 20:00 - ?
                    td TBA
                    TD TBA
    .row: .col-sm-12
        h3 Sunday
        table(class="table")
            thead 
                tr 
                    th(style="width: 20%") Time
                    th(style="width: 40%") Event
                    th(style="width: 40%") Location
            tbody 
                tr 
                    td 08:00 - 10:00
                    td Breakfast
                    td Café area
                tr 
                    td 10:00 - 12:30
                    td Assessment
                    td Everywhere
                tr 
                    td 12:30 - 13:45
                    td Lunch
                    td Café area
                tr 
                    td 14:00 - 16:00
                    td 1-minute madness & prize ceremony
                    td Peter Bøgh Auditorium
                tr 
                    td 16:00
                    td See you again next year!
