section.triangle#schedule-section: .container
    .row: .col-sm-12
        h2 Schedule
        p.
            We're still working on making a schedule that's packed with hacking, learning and
            fun events for the best weekend of the year!
        // TODO