mixin day(day_name, ...rows)
  .row: .col-sm-12
    h3= day_name
    table(class="table")
      thead
        tr
          th(style="width: 20%") Time
          th(style="width: 40%") Event
          th(style="width: 40%") Location
      tbody
        each item in rows
          tr
            td= item.time
            td= item.event
            td= item.loc

//- Example:
  +day("Friday", 
    {time: "15:30 - 16:30", event: "Arrival & registration", loc: "Info stand"},
    {time: "16:45 - 18:45", event: "Opening ceremony, ideation & group formation", loc: "Peter Bøgh Auditorium"},
    {time: "18:45 - 20:00", event: "Group registration", loc: "Nygaard-basement"})
          
section.triangle#schedule-section: .container
    .row: .col-sm-12
        h2 Schedule
        if SCHEDULE_ANNOUNCED
          p.
            For more information about the events, check out the
            navigation bar at the top of the page!
          if !SCHEDULE_FINAL
            p Notice that the schedule might change a bit.
        else 
          p.
            We're still working on making a schedule that's packed with hacking, learning and
            fun events for the best weekend of the year!
    if SCHEDULE_ANNOUNCED
      +day("Friday", 
        {time: "13:00 - 15:30", event: "Check-in", loc: "Info stand"},
        {time: "16:00 - 17:00", event: "Opening ceremony", loc: "Peter Bøgh Auditorium"},
        {time: "17:00 - 18:00", event: "Ideation & group formation", loc: "Peter Bøgh Auditorium"},
        {time: "18:00 - 20:30", event: "Dinner & group registration", loc: "Café area & Nygaard-basement"},
        {time: "18:00", event: "Hacking begins!", loc: "Everywhere!"},
        {time: "20:30 - 21:30", event: "Robot Sumo Intro", loc: "Peter Bøgh Auditorium"}
        )
      +day("Saturday",
        {time: "07:00 - 09:00", event: "Breakfast", loc: "Café area"},
        {time: "09:00 - 10:00", event: "Yoga", loc: "Nygaard-184"},
        {time: "12:30 - 13:30", event: "Lunch", loc: "Café area"},
        {time: "16:00 - 17:30", event: "Bambuild", loc: "Nygaard-basement"},
        {time: "18:00 - 19:30", event: "Dinner", loc: "Café area"},
        {time: "20:00 - 21:30", event: "Robot Sumo Tournament", loc: "Peter Bøgh Auditorium"}
        )
      +day("Sunday",
        {time: "07:00 - 09:00", event: "Breakfast", loc: "Café area"},
        {time: "11:00 - 12:00", event: "One Minute Madness", loc: "Peter Bøgh Auditorium"},
        {time: "12:00 - 14:00", event: "Evaluation", loc: "Nygaard-basement"},
        {time: "12:00 - 14:00", event: "Return hardware", loc: "Hardware area"},
        {time: "12:00 - 14:00", event: "Lunch", loc: "Café area"},
        {time: "14:00 - 14:30", event: "Clearing of group tables", loc: "Nygaard-basement"},
        {time: "14:30 - 15:30", event: "Closing ceremony and prizes", loc: "Peter Bøgh Auditorium"},
        {time: "15:30", event: "The end. Thanks for participating!", loc: "Peter Bøgh Auditorium"}
        )
