section.triangle#schedule-section: .container
    .row: .col-sm-12
        h2 Schedule
        //p.
            We're still working on making a schedule that's packed with hacking, learning and
            fun events for the best weekend of the year!
        //p.
            Notice that the schedule might change a bit.
        p.
          For more information about the events and workshops, check out the
          navigation bar at the top of the page!
    .row: .col-sm-12
        h3 Friday
        table(class="table")
            thead 
                tr 
                    th(style="width: 20%") Time
                    th(style="width: 40%") Event
                    th(style="width: 40%") Location
            tbody 
                tr 
                    td 15:30 - 16:30
                    td Arrival & registration
                    td Info stand
                tr 
                    td 16:45 - 18:45
                    td Opening ceremony, ideation & group formation
                    td Peter Bøgh Auditorium
                tr 
                    td 18:45 - 20:00
                    td Group registration
                    td Nygaard-basement
                tr
                    td 18:45 - 20:00
                    td Dinner (Sponsored by Jysk)
                    td Café area
                tr 
                    td 20:00
                    td Hacking begins!
                    td Everywhere
    .row: .col-sm-12
        h3 Saturday
        table(class="table")
            thead 
                tr 
                    th(style="width: 20%") Time
                    th(style="width: 40%") Event
                    th(style="width: 40%") Location
            tbody 
                tr 
                    td 08:00 - 10:00
                    td Breakfast
                    td Café area
                tr 
                    td 10:00 - 12:00
                    td Workshop - Audio
                    td Nygaard-184
                tr
                    td 10:00 - 18:30
                    td Escape room (Sponsored by Jysk)
                    td 2. & 3. floor in Nygaard
                tr
                    td 12:00 - 15:00
                    td Bow-tag (Sponsored by Grundfos)
                    td The Benjamin Hall
                tr 
                    td 12:30 - 14:00
                    td Lunch (Sponsored by the LEGO Group)
                    td Café area
                tr
                    td 14:00 - 18:00
                    td Coffee cart (Sponsored by the LEGO Group)
                    td Entrance hall
                tr  
                    td 14:30 - 15:30
                    td Workshop - Cryptography
                    td Nygaard-192
                tr 
                    td 18:30 - 20:00
                    td Dinner (Sponsored by Bankdata)
                    td Café area
                tr 
                    td 20:00 - 21:30
                    td Bambuild! (Sponsored by Bankdata)
                    td Nygaard-basement
                tr
                    td 00:00 - 01:00
                    td Code in the dark
                    TD Peter Bøgh Auditorium
    .row: .col-sm-12
        h3 Sunday
        table(class="table")
            thead 
                tr 
                    th(style="width: 20%") Time
                    th(style="width: 40%") Event
                    th(style="width: 40%") Location
            tbody 
                tr 
                    td 08:00 - 10:00
                    td Breakfast
                    td Café area
                tr
                    td 08:45 - 09:30
                    td Workshop - The perfect pitch (Grundfos)
                    td Peter Bøgh Auditorium
                tr
                    td 10:00 - 12:30
                    td Evaluation
                    td Everywhere
                tr
                    td 10:00 - 13:45 (deadline)
                    td Return hardware/gear
                    td 
                tr
                    td 12:30 - 13:45
                    td Lunch (Sponsored by Grundfos)
                    td Café area
                tr 
                    td 14:00 - 16:00
                    td 1-minute madness & prize ceremony
                    td Peter Bøgh Auditorium
                tr 
                    td 16:00
                    td See you again next year!
                    td 
