mixin day(day_name, ...rows)
  .row: .col-sm-12
    h3= day_name
    table(class="table")
      thead
        tr
          th(style="width: 20%") Time
          th(style="width: 40%") Event
          th(style="width: 40%") Location
      tbody
        each item in rows
          tr
            td= item.time
            td= item.event
            td= item.loc

//- Example:
  +day("Friday", 
    {time: "15:30 - 16:30", event: "Arrival & registration", loc: "Info stand"},
    {time: "16:45 - 18:45", event: "Opening ceremony, ideation & group formation", loc: "Peter Bøgh Auditorium"},
    {time: "18:45 - 20:00", event: "Group registration", loc: "Nygaard-basement"})
          
section.triangle#schedule-section: .container
    .row: .col-sm-12
        h2 Schedule
        if SCHEDULE_ANNOUNCED
          p.
            For more information about the events and workshops, check out the
            navigation bar at the top of the page!
          if !SCHEDULE_FINAL
            p Notice that the schedule might change a bit.
        else 
          p.
            We're still working on making a schedule that's packed with hacking, learning and
            fun events for the best weekend of the year!
    if SCHEDULE_ANNOUNCED
      +day("Friday", 
        {time: "XX:XX - XX:XX", event: "XX", loc: "XX"},
        {time: "XX:XX - XX:XX", event: "XX", loc: "XX"})
      +day("Saturday",
        {time: "XX:XX - XX:XX", event: "XX", loc: "XX"},
        {time: "XX:XX - XX:XX", event: "XX", loc: "XX"})
      +day("Sunday",
        {time: "XX:XX - XX:XX", event: "XX", loc: "XX"},
        {time: "XX:XX - XX:XX", event: "XX", loc: "XX"})
