if SIGN_UP_STATE === SIGN_UP_OPEN
    .triangle#sign-up-section: .row
        .col-sm-2
        .col-sm-8(class="text-center")
            h5.
                Sign ups are now open for this years AUHack!#[br]
                Be sure to sign up soon if you want to be sure to have a spot!
            a(href=SIGN_UP_LINK class="btn btn-lg btn-secondary" role="button") Register your spot now!
            //-p: h5 Or you can sign up as a volunteer. #[a(href="./volunteer.html") Read more!]
else if SIGN_UP_STATE === SIGN_UP_OPENING
    .triangle#sign-up-section: .row
        .col-sm-2
        .col-sm-8(class="text-center")
            if SIGN_UP_START_DATE
                h5 Sign-ups for this year's AUHack will open #{SIGN_UP_START_DATE}!
            else
                h5 Sign-ups are not yet open for this year's AUHack! Stay tuned!
else if SIGN_UP_STATE === SIGN_UP_CLOSED
    .triangle#sign-up-section: .row
        .col-sm-2
        .col-sm-8(class="text-center")
            h5 Sign-ups for this year's AUHack has closed.
