.triangle#sponsors-section: .container
    .row: .col-sm-12
        h2 Sponsors
        p We have no sponsors yet. Are you interested? Then take a look #[a(href="sponsor.html") here].
    hr

    // TODO
    
    .row: .col-sm-12
        h4 New sponsor?
        p.
            If you are interested in becoming a sponsor: #[br]
            Email us at #[a(href="mailto:sponsor@auhack.org?subject=AUHack sponsor") sponsor@auhack.org]
            or #[a(href="sponsor.html") Click here to see the sponsor page!]
