mixin sponsor(class_name, name, image_name, url)
    div(class=class_name, style="margin:auto"): .sponsor-title
        a(href=url, target="_blank")
            img(src=("img/sponsors/" + image_name) alt=name)

mixin diamond(name, image_name, url)
    +sponsor("col-sm-6", name, image_name, url)

//- NOT USED AT THE MOMENT
  mixin platinum(name, image_name, url)
      +sponsor("col-sm-4", name, image_name, url)

mixin gold(name, image_name, url)
    +sponsor("col-sm-4", name, image_name, url)

mixin silver(name, image_name, url)
    +sponsor("col-sm-2", name, image_name, url)

//- Example:
  +diamond("Grundfos", "grundfos.jpg", "https://www.grundfos.com/")

.triangle#sponsors-section: .container
    .row: .col-sm-12
        h2 Sponsors
        if SPONSORS_ANNOUNCED
            p Are you interested in becoming a sponsor? Then take a look #[a(href="sponsor.html") here].
        else
            p We have not announced our sponsors yet. Are you interested? Then take a look #[a(href="sponsor.html") here].
    hr

    if SPONSORS_ANNOUNCED
        .row
            +diamond("Grundfos", "grundfos.jpg", "https://www.grundfos.com/")
            +diamond("Trifork", "trifork.png", "https://trifork.com/")
            +diamond("InCommodities", "incommodities.png", "https://incommodities.com/")
            //- +diamond("LEGO Group", "lego.jpg", "https://www.lego.com/da-dk")
            //- +diamond("Bankdata", "bankdata-logo-green.png", "https://www.bankdata.dk/")
            //- +diamond("Jysk", "JYSK_logo.png", "https://jysk.dk/")
        hr
        .row
            +gold("Systematic", "systematic.png", "https://systematic.com/")
            +gold("EPICO NextGen", "epiconextgen.png", "https://epiconextgen.dk/")
            //- +gold("RS", "rs.jpg", "https://dk.rs-online.com/web/")
        hr
        .row
            //- +silver("Nordic Hi-Fi", "nordichifi", "")
            +silver("IT Minds", "itminds.png", "https://www.it-minds.dk/")
            //- +silver("Delegate", "delegate.png", "https://www.delegate.dk/")
            //- +silver("Prosa", "prosa_logo.png", "https://www.prosa.dk/")
            //- +silver("Netcompany", "netcompany.png", "https://www.netcompany.com/")
        hr
    
    //- .row: .col-sm-12
        h4 New sponsor?
        p.
            If you are interested in becoming a sponsor, then: #[br]
            Email us at #[a(href="mailto:sponsor@auhack.org?subject=AUHack sponsor") sponsor@auhack.org]
            or #[a(href="sponsor.html") Click here to see the sponsor page!]
