.triangle#teaser-section: .container
    .row: .col-sm-12
        h2(style="text-align: right") What is AUHack?
        hr
        p.
            AUHack is Denmark’s largest hackathon for students. Over a 36-hour period from #{LONG_INTERVAL}, students
            interested in IT will meet, form groups and work intensively to create awesome prototypes and concepts.
            Whether you like to concept develop, design or code, or if you’re just into IT – this is for you.
        p.
            Ideate, build, play, hack, share, learn and have fun! The goal for the weekend is to come up with new
            ideas, play with technology and make cool stuff. It is not about creating finished products, but
            an opportunity to share your ideas with different people, build inspiring hacks, learn from our mentors
            and just have fun.
        p.
            Our goal with the hackathon is to bring creative minds and different skill sets together. We want to
            see you form new ideas and to see what having fun and playing with technology results in through
            your presentations and demos at the end of the hackathon. So if you feel up for the challenge and
            are interested in IT, bring your skill set to the event and put it in play working on something cool.
    br
    .row
        .col-md-4(class="text-center")
            span(class="fa-stack fa-4x")
                i(class="fa fa-circle fa-stack-2x" style="color: #D65B12")
                i(class="fa fa-cutlery fa-stack-1x" style="color: #ffffff")
            h4 Free food
        .col-md-4(class="text-center")
            span(class="fa-stack fa-4x")
                i(class="fa fa-circle fa-stack-2x" style="color: #D65B12")
                i(class="fa fa-keyboard-o fa-stack-1x" style="color: #ffffff")
            h4 36 hours of hacking
        .col-md-4(class="text-center")
            span(class="fa-stack fa-4x")
                i(class="fa fa-circle fa-stack-2x" style="color: #D65B12")
                i(class="fa fa-child fa-stack-1x" style="color: #ffffff")
            h4 Lots of fun
