//--- Date ---
//- The year of the event. E.g. "2019"
- const YEAR = "2023"

//- The date interval of the event in short form. E.g. "April 5th - 7th"
- const SHORT_INTERVAL = "March 24th - 26th"

//- The date interval of the event in long form. E.g. "April 5th to 7th"
- const LONG_INTERVAL = "March 24th to 26th"

//- The start time of the event. E.g. "16:00"
- const START_TIME = "TBD"

//- The end time of the event (on Sunday). E.g. "16:30"
- const END_TIME = "TBD"


//--- Sign-Up ---
//- Sign-up states. Do not change!
- const SIGN_UP_OPENING = 0
- const SIGN_UP_OPEN = 1
- const SIGN_UP_CLOSED = 2
- const WAITING_LIST = 3

//- Current sign-up state. E.g. SIGN_UP_OPEN
- const SIGN_UP_STATE = WAITING_LIST

//- Link for the sign-up. E.g. "http://register.auhack.org"
- const SIGN_UP_LINK = "https://forms.gle/oDHmxSWdrNoYveZ86"
- const WAITING_LIST_LINK = "https://forms.gle/ZDmBUz3dPrLaFf5a7"

//- The date where sign-up begins. Can be null. E.g. "February 4th"
- const SIGN_UP_START_DATE = "January 30th"


//--- Sponsors ---
//- Whether the sponsors are announced and visible.
- const SPONSORS_ANNOUNCED = true


//--- Expo ---
//- Whether to show the submission form for 1-minute madness.
- const SHOW_ONEMM_SUBMISSION = false

//- Whether to show the expo button in the navbar.
- const SHOW_EXPO = false


//--- Cases ---
//- Whether to show the cases button in the navbar.
- const SHOW_CASES = false


//--- Events ---
//- Whether to show the events button in the navbar.
- const SHOW_EVENTS = false


//--- Workshops ---
//- Whether to show the workshops button in the navbar.
- const SHOW_WORKSHOPS = false


//--- Schedule ---
//- Whether the schedule has been announced.
- const SCHEDULE_ANNOUNCED = true

//- Whether the schedule is the final version.
- const SCHEDULE_FINAL = false
