//--- Date ---
//- The year of the event. E.g. "2019"
- const YEAR = "2024"

//- The date interval of the event in short form. E.g. "April 5th - 7th"
- const SHORT_INTERVAL = "October 25th - 27th"

//- The date interval of the event in long form. E.g. "April 5th to 7th"
- const LONG_INTERVAL = "October 25th to 27th"

//- The start time of the event. E.g. "16:00"
- const START_TIME = "13:00"

//- The end time of the event (on Sunday). E.g. "16:30"
- const END_TIME = "15:30"


//--- Sign-Up ---
//- Sign-up states. Do not change!
- const SIGN_UP_OPENING = 0
- const SIGN_UP_OPEN = 1
- const SIGN_UP_CLOSED = 2
- const WAITING_LIST = 3

//- Current sign-up state. E.g. SIGN_UP_OPEN
- const SIGN_UP_STATE = WAITING_LIST

//- Link for the sign-up. E.g. "http://register.auhack.org"
- const SIGN_UP_LINK = "https://forms.office.com/e/9NSmbPZ4Rn"
- const WAITING_LIST_LINK = "https://forms.office.com/e/d5989bzhr9"

//- The date where sign-up begins. Can be null. E.g. "February 4th"
- const SIGN_UP_START_DATE = "January 30th"


//--- Sponsors ---
//- Whether the sponsors are announced and visible.
- const SPONSORS_ANNOUNCED = true

//- Whether the sponsors are final (removes the "Do you want to be a sponsor?" text)
- const SPONSORS_FINAL = false


//--- Expo ---
//- The link for the One Minute Madness Form.
- const ONEMM_FORM_LINK = "https://forms.gle/F3ifyVj5NnkkGszTA"

//- Deadline for One Minute Madness submission.
- const ONEMM_DEADLINE = "09:00 Sunday"

//- Whether to show the submission form for One Minute Madness.
- const SHOW_ONEMM_SUBMISSION = false

//- Whether to show the expo button in the navbar.
- const SHOW_EXPO = false


//--- Cases ---
//- Whether to show the cases button in the navbar.
- const SHOW_CASES = false


//--- Events ---
//- Whether to show the events button in the navbar.
- const SHOW_EVENTS = true


//--- Workshops ---
//- Whether to show the workshops button in the navbar.
- const SHOW_WORKSHOPS = false


//--- Schedule ---
//- Whether the schedule has been announced.
- const SCHEDULE_ANNOUNCED = true

//- Whether the schedule is the final version.
- const SCHEDULE_FINAL = false
