//--- Date ---
//- The year of the event. E.g. "2019"
- const YEAR = "2020"

//- The date interval of the event in short form. E.g. "April 5th - 7th"
- const SHORT_INTERVAL = "May 8th - 10th"

//- The date interval of the event in long form. E.g. "April 5th to 7th"
- const LONG_INTERVAL = "May 8th to 10th"

//- The start time of the event. E.g. "16:00"
- const START_TIME = "16:30"

//- The end time of the event (on Sunday). E.g. "16:30"
- const END_TIME = "16:00"

//--- Sign-Up ---
//- Sign-up states. Do not change!
- const SIGN_UP_OPENING = 0
- const SIGN_UP_OPEN = 1
- const SIGN_UP_CLOSED = 2

//- Current sign-up state. E.g. SIGN_UP_OPEN
- const SIGN_UP_STATE = SIGN_UP_OPENING

//- Link for the sign-up. E.g. "http://register.auhack.org"
- const SIGN_UP_LINK = "http://register.auhack.org"

//- The date where sign-up begins. Can be null. E.g. "February 4th"
- const SIGN_UP_START_DATE = null

//--- Sponsors ---
//- Whether the sponsors are announced and visible.
- const SPONSORS_ANNOUNCED = true
