footer.triangle: .container
  .row: .col-sm-12: h3 Contact
  .row: .col-sm-12
    a(href='mailto:contact@auhack.org')
      i.fa.fa-envelope.fa-4x
    a(href='https://www.facebook.com/AUHack' target='_blank' style='margin: 0 30px;')
      i.fa.fa-facebook-square.fa-4x
    a(href='https://www.twitter.com/AUHackAarhus' target='_blank')
      i.fa.fa-twitter-square.fa-4x
  .row: .col-sm-12: hr
  .row: .col-sm-12: p
        | AUHack &copy; 2016-#{YEAR}
        | 
        span.hidden-sm-down |
        br.hidden-md-up
        | 
        a(href='http://static.mlh.io/docs/mlh-code-of-conduct.pdf' target='_blank') Code of Conduct
        | 
        span.hidden-sm-down |
        br.hidden-md-up
        | 
        a(href='mailto:contact@auhack.org?subject=AUHack') contact@auhack.org