section.teaser-section#teaser-section(class="triangle"): .container: .row: .col-sm-12
  h2 Cases at AUHack
  p.
    Our diamond sponsor and AUHack itself are hosting a case, where you can compete to make
    the best solution. These are typically based in each company's expertise, and are
    meant as an inspiration and foundation for your projects here at AUHack #{YEAR}.
  h4 Do we need to sign up?
  p.
    Yes, we would like to know what you're working on. On your team's table, there
    should be a piece of paper with a number on it. Please write what you've
    chosen to work on on this piece of paper (if you've chosen any).
  h4 Can we solve several cases at once?
  p.
    Yes, of course! We're not limiting your creativity or area that you want to
    focus on.
