section.teaser-section#teaser-section(class="triangle"): .container: .row: .col-sm-12
  h2 AUHack #{YEAR}
  hr
  p.
      Here you can read about this year's cases from our sponsors! If you ever forget
      what they are about, don't hesitate to come and take a look here - or go ask
      the sponsors if you'd like help.
